{% extends 'casos/base.html' %}
{% block content %}
<br>
<!--section id="cover" class="min-vh-100"-->
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                 <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                       <div class="container-fluid p-3 my-3 bg-dark text-white rounded border border-info">
                            <div class="row text-white">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto text-center form p-2">
                                    <div class="panel panel-default">
                                         <div class="panel-body">
                                             <h5>!Bienvenido a ParalegApp!</h5><br><br>
                                             <h6>Ya puedes comenzar a utilizar tu asistente legal virtual</h6><br>
                                                <a href="{% url 'paralegapp:inicio' %}">
                                                  <button class="btn btn-outline-info" type="submit">Log in</button>
                                                </a>
                                         </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>



{% endblock %}