{% extends 'casos/base.html' %}
{% block title %}Mis causas{% endblock %}
{% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    function myFunction1(x) {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput1");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows de una columna especifica, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
          //el numero [x] representa la columnda de busqueda
        td = tr[i].getElementsByTagName("td")[x];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
    <script>
    function myFunction2(x) {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput2");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows de una columna especifica, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
          //el numero [x] representa la columnda de busqueda
        td = tr[i].getElementsByTagName("td")[x];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
    <script>
    function myFunction3(x) {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput3");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows de una columna especifica, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
          //el numero [x] representa la columnda de busqueda
        td = tr[i].getElementsByTagName("td")[x];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
    <script>
    function myFunction4(x) {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput4");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows de una columna especifica, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
          //el numero [x] representa la columnda de busqueda
        td = tr[i].getElementsByTagName("td")[x];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
    <script>
        function myFunction5(x) {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput5");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows de una columna especifica, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
          //el numero [x] representa la columnda de busqueda
        td = tr[i].getElementsByTagName("td")[x];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
    <script>
        function myFunction6(x) {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput6");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows de una columna especifica, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
          //el numero [x] representa la columnda de busqueda
        td = tr[i].getElementsByTagName("td")[x];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
    <script>
        function myFunction7(x) {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput7");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows de una columna especifica, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
          //el numero [x] representa la columnda de busqueda
        td = tr[i].getElementsByTagName("td")[x];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
    <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

{% endblock %}
{% block content %}
    {% load humanize %}
    <br>
    <!--  conteiner desde p3 hace q el fondo sea gris-->
    <div class="container-fluid text-left p-3 my-3 bg-dark text-white rounded-lg border border-info">
        <div class="row mx-auto justify-content-center border-bottom mb-12 text-center">
            <div class="col-xl-4 col-lg-4 col-md-0 col-sm-0"></div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mx-auto text-center">
                <h4>Tienes {{ mis_casos.count }} Causas Activas</h4>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                {% if todos == 0 %}
                    <a class="float-right" href="{% url 'paralegapp:mis_casos_todos' %}" data-toggle="tooltip" data-placement="top" title="Mostrar causas activas y finalizadas">
                        <button type="button" class="btn btn-outline-info">Todas las causas</button>
                    </a>&nbsp
                    <a class="float-right">
                        <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Mostrar solo causas activas">Causas activas</button>&nbsp&nbsp&nbsp&nbsp
                    </a>
                {% else %}
                    <a class="float-right">
                        <button type="button" class="btn btn-info"  data-toggle="tooltip" data-placement="top" title="Mostrar causas activas y finalizadas">Todas las causas</button>
                    </a>&nbsp
                    <a class="float-right" href="{% url 'paralegapp:mis_casos' %}" data-toggle="tooltip" data-placement="top" title="Mostrar solo causas activas">
                        <button type="button" class="btn btn-outline-info">Causas activas</button>&nbsp&nbsp&nbsp&nbsp
                    </a>
                {% endif %}
            </div><br><br>
        </div>
        <div class="row text-white">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto text-center form p-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-striped table-light table-hover table-bordered mb-0" style="line-height: 0.6">
                                <thead class="thead-dark sticky">
                                    <tr>
                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=favorito&order={% if order == 'desc' %}asc{% else %}desc{% endif %}" data-toggle="tooltip" data-placement="top" title="Marcados como favoritos">F.
                                                        <span
                                                           {% if current_order == 'favorito' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-favorito' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a><br><br><br><br><br>
                                        <th style="width: 1px"><a class="text-truncate text-light" href="{% url ruta %}?ordering=caso__rol&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Rol
                                                        <span
                                                           {% if current_order == 'caso__rol' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-caso__rol' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a>
                                                        <br><br><input class="w-100 rounded" id="myInput1" type="text" onkeyup="myFunction1(x=1)"></th>
                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=caso__numero&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Num.
                                                        <span
                                                           {% if current_order == 'caso__numero' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-caso__numero' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a>
                                                        <br><br><input class="w-100 rounded" id="myInput2" type="text" onkeyup="myFunction2(x=2)"></th>
                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=caso__year&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Año&nbsp
                                                        <span
                                                           {% if current_order == 'caso__year' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-caso__year' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a>
                                                        <br><br><input class="w-100 rounded" id="myInput3" type="text" onkeyup="myFunction3(x=3)"></th>
                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=caso__tribunal&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Juzgado
                                                        <span
                                                           {% if current_order == 'caso__tribunal' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-caso__tribunal' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a>
                                                        <br><br><input class="w-100 rounded" id="myInput4" type="text" onkeyup="myFunction4(x=4)"></th>
                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=horas&order={% if order == 'desc' %}asc{% else %}desc{% endif %}" data-toggle="tooltip" data-placement="top" title="Horas trabajadas">Hor.
                                                        <span
                                                           {% if current_order == 'horas' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-horas' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a><br><br><br><br><br></th>
                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=monto&order={% if order == 'desc' %}asc{% else %}desc{% endif %}" data-toggle="tooltip" data-placement="top" title="Valor de la demanda">Valor
                                                        <span
                                                           {% if current_order == 'monto' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-monto' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a><br><br><br><br><br></th>
                                       <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=caso__proc&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Proc.
                                                        <span
                                                           {% if current_order == 'caso__proc' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == 'caso__proc' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a><br><br><br><br><br></th>
                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=caso__fecha_ingreso&order={% if order == 'desc' %}asc{% else %}desc{% endif %}" data-toggle="tooltip" data-placement="top" title="Fecha de ingreso de la causa">Ingreso
                                                        <span
                                                           {% if current_order == 'caso__fecha_ingreso' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-caso__fecha_ingreso' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a><br><br><br><br><br></th>

                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=horas&order={% if order == 'desc' %}asc{% else %}desc{% endif %}" data-toggle="tooltip" data-placement="top" title="Inicio de seguimiento de la causa">inicio
                                                        <span
                                                           {% if current_order == 'horas' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-horas' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a><br><br><br><br><br></th>
                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=caso__last_change&order={% if order == 'desc' %}asc{% else %}desc{% endif %}" data-toggle="tooltip" data-placement="top" title="Fecha que se actualizo la causa por ultima vez">Actualizado
                                                        <span
                                                           {% if current_order == 'caso__last_change' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-caso__last_change' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a><br><br><br><br><br></th>
                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=caso__caratulado&order={% if order == 'desc' %}asc{% else %}desc{% endif %}" data-toggle="tooltip" data-placement="top" title="Demandante">Dte
                                                        <span
                                                           {% if current_order == 'caso__caratulado' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-caso__caratulado' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a>
                                                        <br><br><input class="w-100 rounded" id="myInput5" type="text" onkeyup="myFunction5(x=11)"></th>
                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=caso__etapa&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Etapa
                                                        <span
                                                           {% if current_order == 'caso__etapa' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-caso__etapa' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a><br><br><br><br><br></th>
                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=caso__estproceso&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Est.Proc
                                                        <span
                                                           {% if current_order == 'caso__estproceso' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-caso__estproceso' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a>
                                                        <br><br><input class="w-100 rounded" id="myInput6" type="text" onkeyup="myFunction6(x=13)"></th>
                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=caso__est_adm&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Est.Adm
                                                        <span
                                                           {% if current_order == 'caso__est_adm' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-caso__est_adm' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a>
                                                        <br><br><input class="w-100 rounded" id="myInput7" type="text" onkeyup="myFunction7(x=14)"></th>
                                        <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=caso__ubicacion&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">Ubicación
                                                        <span
                                                           {% if current_order == 'caso__ubicacion' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-caso__ubicacion' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a><br><br><br><br><br></th>
                                        <th>
                                            <a class="text-truncate text-light" href="{% url ruta %}?ordering=caso__dte_nombre&order={% if order == 'desc' %}asc{% else %}desc{% endif %}">DTE.
                                                        <span
                                                           {% if current_order == 'caso__dte_nombre' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-caso__dte_nombre' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a><br><br><br><br><br></th>

                                        <th>Doc<br><br><br><br><br></th>
                                        {% if todos == 1 %}
                                             <th><a class="text-truncate text-light" href="{% url ruta %}?ordering=horas&order={% if order == 'desc' %}asc{% else %}desc{% endif %}" data-toggle="tooltip" data-placement="top" title="Fin de seguimiento de la causa">Fin
                                                        <span
                                                           {% if current_order == 'horas' %} class="fas fa-sort-down align-middle"  {% endif %}
                                                           {% if current_order == '-horas' %} class="fas fa-sort-up align-middle"  {% endif %}>
                                                        </span></a><br><br><br><br><br></th>

                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    {% for caso in mis_casos %}
                                        <tr><!-- onclick="window.location.assign('http://127.0.0.1:8000/paralegapp/casos/#');"-->
                                            {% if caso.favorito == True %}
                                                {% if todos == 1 %}
                                                   <td><a href="{% url 'paralegapp:caso_favorito' caso.id 3 %}"><span class="fas fa-star" style="color:#ffc107"></span></a></td>
                                                {% else %}
                                                   <td><a href="{% url 'paralegapp:caso_favorito' caso.id 1 %}"><span class="fas fa-star" style="color:#ffc107"></span></a></td>
                                                {% endif %}
                                            {% else %}
                                                {% if todos == 1 %}
                                                     <td><a href="{% url 'paralegapp:caso_favorito' caso.id 3 %}"><span class="far fa-star" style="color:darkgrey"></span></a></td>
                                                {% else %}
                                                     <td><a href="{% url 'paralegapp:caso_favorito' caso.id 1 %}"><span class="far fa-star" style="color:darkgrey"></span></a></td>
                                                {% endif %}
                                            {% endif %}
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}">{{ caso.caso.rol }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}">{{ caso.caso.numero }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}">{{ caso.caso.year }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}">{{ caso.caso.tribunal }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}" data-toggle="tooltip" data-placement="top" title="Horas trabajadas">{{ caso.horas|stringformat:".1f" }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}" data-toggle="tooltip" data-placement="top" title="Valor de la demanda"> {% if not caso.monto == None %} $ {{ caso.monto|intcomma }} {% endif %}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}">{{ caso.caso.proc }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}" data-toggle="tooltip" data-placement="top" title="Fecha de ingreso de la causa">{{ caso.caso.fecha_ingreso|date:'d-m-Y' }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}" data-toggle="tooltip" data-placement="top" title="Inicio de seguimiento de la causa">{{ caso.fecha_inicio|date:'d-m-Y' }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}" data-toggle="tooltip" data-placement="top" title="Fecha que se actualizo la causa por ultima vez">{{ caso.caso.last_change|date:'d-m-Y' }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}" data-toggle="tooltip" data-placement="top" title="Demandante">{{ caso.caso.caratulado }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}">{{ caso.caso.etapa }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}">{{ caso.caso.estproceso }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}">{{ caso.caso.est_adm }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}">{{ caso.caso.ubicacion }}</a></td>
                                            <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}">{{ caso.caso.dte_nombre }}</a></td>
                                            <td>
                                                {% if caso.caso.archivo != None %}
                                                        <a class="text-truncate align-middle text-dark" href="https://civil.pjud.cl/{{ caso.caso.archivo }}" target="_blank"><span class="fas fa-file-pdf"></span></a>
                                                {% endif %}
                                            </td>
                                            {% if todos == 1 %}
                                               <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_caso' caso.id 1%}" data-toggle="tooltip" data-placement="top" title="Fin de seguimiento de la causa">{{ caso.fecha_fin|date:'d-m-Y' }}</a></td>
                                            {% endif %}

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% if is_paginated %}
                        <ul class="pagination justify-content-center pagination-sm">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior&laquo;</a></li>
                            {% endif %}

                            {% for i in paginator.page_range %}
                                <li {% if page_obj.number == i %} class="page-item active" {% endif %}>
                                    <a class="page-link" href="?page={{i}}">{{ i }}</a>
                                </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente&raquo;</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--script este es del buscador anterior>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script-->



{% endblock %}