{% extends 'casos/base.html' %}
{% block title %} Actualiacion detalle {% endblock %}
{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
</script>

{% endblock %}

{% block content %}

{% if user.is_authenticated %}
        <br>
        <!--  conteiner desde p3 hace q el fondo sea gris-->
     <div class="row ">
        <div class="container-fluid text-left p-3 my-3 bg-dark text-white rounded-lg border border-info col-xl-10 col-lg-10 col-md-11 col-sm-11 col-11 mx-auto">
            <!--  esta es la parte de los inputs para filtrosdesde p3 hace q el fondo sea gris-->
            <div class="row text-white">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto text-center form p-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row mx-auto justify-content-center border-bottom mb-12">
                               <h4>
                                <a>
                                       {% if miestado.estado_estado == 'Terminado' %}
                                          <span class="fas fa-circle fa-fw" aria-hidden="true" style="color:darkgreen">
                                       {% endif %}
                                       {% if miestado.estado_estado == 'Ingresado' %}
                                           <span class="fas fa-circle fa-fw" aria-hidden="true" style="color:#d9534f">
                                       {% endif %}
                                       {% if miestado.estado_estado == 'En proceso' %}
                                           <span class="fas fa-circle fa-fw" aria-hidden="true" style="color:#ffc107">
                                       {% endif %}
                                       {% if miestado.estado_estado == 'sinfinalizar' %}
                                           <span class="fas fa-exclamation-triangle fa-fw" aria-hidden="true" style="color:#ffc107">
                                       {% endif %}
                                       {% if miestado.estado_estado == 'previo' %}
                                          <span class="fas fa-exclamation-triangle fa-fw" aria-hidden="true" style="color:darkgreen">
                                       {% endif %}


                                    </span>&nbsp&nbsp&nbsp
                                </a>
                                Etapa numero: {{ miestado.estado_caso.folio}}&nbsp &nbsp&nbsp Caso:  &nbsp {{ caso }}&nbsp&nbsp
                                {% if micaso.favorito == True %}
                                   <td><span class="fas fa-star" style="color:#ffc107"></span></td>
                                {% else %}
                                   <td><span class="far fa-star" style="color:darkgrey"></span></td>
                                {% endif %}
                               </h4>
                            </div>
                            <!--  caso y linea blanca-->
                            <br>
                            <div class="row mx-auto justify-content-center border-bottom mb-12">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                     <div class="float-left"> <h6>Ingreso              :&nbsp&nbsp{{ miestado.fecha_ingreso|date:'d-m-Y' }}</h6></div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                     <div class="float-left"> <h6>En proceso           :&nbsp&nbsp{{ miestado.fecha_toma|date:'d-m-Y' }}</h6></div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                     <div class="float-left"> <h6>Finalizado           :&nbsp&nbsp{{ miestado.fecha_finalizado|date:'d-m-Y' }}</h6></div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                     <div class="float-left"> <h6>Estado               :&nbsp&nbsp{{ miestado.estado_estado }}</h6></div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                     <div class="float-left"> <h6>Etapa                :&nbsp&nbsp{{ miestado.estado_caso.etapa }}</h6></div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                     <div class="float-left"> <h6>Cuaderno             :&nbsp&nbsp{{ miestado.estado_caso.cuaderno }}</h6></div>
                                </div>
                                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                                     <div class="float-left"> <h6>Descripción        :&nbsp&nbsp{{ miestado.estado_caso.desc_tramite }}</h6></div>
                                </div>
                                {% if miestado.estado_caso.archivo != None %}
                                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                         <div class="float-left"><h6>Archivo            :&nbsp&nbsp&nbsp&nbsp<a href="https://civil.pjud.cl/{{ miestado.estado_caso.archivo }}" target="blank"><span class="fas fa-file-pdf text-white"></span></a></h6></div>
                                    </div>
                                {% endif %}
                                {% if miestado.estado_caso.archivo_2 != None %}
                                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                         <div class="float-left"> <h6>Archivo 2           :&nbsp&nbsp{{ miestado.estado_caso.archivo_2 }}</h6></div>
                                    </div>
                                {% endif %}
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                     <div class="float-left"> <h6>Tramite            :&nbsp&nbsp{{ miestado.estado_caso.tramite }}</h6></div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                     <div class="float-left"> <h6>Horas trabajo      :&nbsp&nbsp{{ horas|stringformat:".1f" }} </h6></div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                     <div class="float-left">
                                         <h6>Plazo :&nbsp&nbsp {% if not miestado.plazo == None %} &nbsp {{ miestado.plazo|date:'d-m-Y' }} {% endif %}&nbsp&nbsp
                                           {% if not miestado.estado_estado == 'Ingresado' %}
                                             <a class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#order2">
                                              <i class="fas fa-pencil-alt"></i>
                                             </a>
                                                  <div id="order2" class="modal fade" role="dialog">
                                                    <div class="modal-dialog modal-dialog-centered modal-sm"> <!--esto lo centra en el medio-->
                                                        <div class="modal-content bg-dark text-white border border-info">
                                                            <div class="modal-body">
                                                                   {% load bootstrap4 %}
                                                                   {% bootstrap_css %}
                                                                   {% bootstrap_javascript jquery='full' %}
                                                                    {{ form1.media }}
                                                                    <form method="post" class="justify-content-center" id="form1">
                                                                       {% csrf_token %}
                                                                       <fieldset class="form-group">
                                                                          <legend class="border-bottom mb-4">Ingrese el Plazo <br> de la actualización<br></legend>
                                                                            {% bootstrap_form form1 %}
                                                                           <button class="btn btn-outline-info" data-dismiss="modal">Cancelar</button>&nbsp&nbsp&nbsp
                                                                           <button class="btn btn-outline-info" type="submit">Guardar</button>
                                                                       </fieldset>
                                                                    </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                                {% else %}
                                                    (Tome el estado para ingresar plazo)
                                                {% endif %}
                                         </h6>
                                     </div>
                                </div>
                                {% if usuario.empresa != None and participantes.count > 1 %}
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                         <div class="float-left" data-toggle="tooltip" data-placement="top" title="Usuarios de la compañía que tambien siguen este caso"> <h6>Usuarios      :&nbsp&nbsp
                                               {% for i in participantes %}
                                                   {% if i.usuario.pk != usuario.user.pk %}
                                                       -{{ i.usuario.first_name }}&nbsp{{ i.usuario.last_name }}&nbsp &nbsp
                                                   {% endif %}
                                               {% endfor %}</h6>
                                         </div>
                                    </div>
                                {% endif %}
                            </div>

                            <!--  tareas del estado -->
                            <br>
                             <h6>
                                <div class="row mx-auto justify-content-center mb-12">
                                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 justify-content-center flex-column">
                                          <h6> &nbsp&nbsp Tienes {{ tareas.count }} tareas programadas para este estado &nbsp
                                          {% if miestado.estado_estado == 'Ingresado' %}
                                             (Tome el estado para poder programar tareas)
                                          {% endif %}

                                          {% if miestado.estado_estado == 'En proceso' %}
                                              <button class="btn btn-outline-info" data-toggle="modal" data-target="#order3">
                                                  <i class="fas fa-plus"></i>
                                                    &nbsp Agregar Tarea
                                              </button></h6>
                                              <div id="order3" class="modal fade" role="dialog">
                                                <div class="modal-dialog modal-dialog-centered"> <!--esto lo centra en el medio-->
                                                    <div class="modal-content bg-dark text-white border border-info">
                                                        <div class="modal-body">
                                                            {{ form2.media }}
                                                                <form method="post" class="justify-content-center" id="form2">
                                                                   {% csrf_token %}
                                                                   <fieldset class="form-group">
                                                                      <legend class="border-bottom mb-4">Ingrese los datos de la nueva tarea</legend>
                                                                       {% bootstrap_form form2 %}
                                                                       <button class="btn btn-outline-info" data-dismiss="modal">Cancelar</button>&nbsp&nbsp&nbsp
                                                                       <button class="btn btn-outline-info" type="submit">Guardar</button>
                                                                   </fieldset>
                                                                </form>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>
                                          {% endif %}
                                      </div>
                                </div>
                             </h6>

                            <br>

                            <div class="table-wrapper-scroll-y my-custom-scrollbar2">
                                  <table class="table table-striped table-light table-hover table-bordered mb-0" data-link="row" style="line-height: 0.6">


                                        <thead class="thead-dark sticky">
                                            <tr>
                                                <th></th>
                                                <th data-toggle="tooltip" data-placement="top" title="Numero de la tarea">Num.</th>
                                                <th data-toggle="tooltip" data-placement="top" title="Nombre dado a la tarea">Nombre</th>
                                                <th>Descripción</th>
                                                <th data-toggle="tooltip" data-placement="top" title="Fecha de creacion de la tarea">Creación</th>
                                                <th data-toggle="tooltip" data-placement="top" title="Fecha programada para realizar la tarea">Fecha</th>
                                                <th data-toggle="tooltip" data-placement="top" title="Fecha de plazo para realizar la tarea">Plazo</th>
                                                <th data-toggle="tooltip" data-placement="top" title="Cantidad de invitados">Invitados</th>
                                                <th data-toggle="tooltip" data-placement="top" title="Horas trabajadas en la tarea">Horas</th>

                                            </tr>
                                        </thead>
                                        <tbody id="myTable">
                                            {% for es in tareas %}
                                                <tr><!-- onclick="window.location.assign('http://127.0.0.1:8000/paralegapp/casos/#');"-->
                                                    <td><a class="text-truncate text-dark">
                                                        <span
                                                           {% if es.estado == 'Por realizar' %} class="fas fa-flag" aria-hidden="true" style="color:darkred" data-toggle="tooltip" data-placement="top" title="Pendiente"> {% endif %}
                                                           {% if es.estado == 'En proceso' %}   class="	fas fa-adjust" aria-hidden="true" style="color:darkblue" data-toggle="tooltip" data-placement="top" title="Ejecutando"> {% endif %}
                                                           {% if es.estado == 'Finalizada' %}   class="fas fa-check-circle" aria-hidden="true" style="color:darkgreen" data-toggle="tooltip" data-placement="top" title="Finalizada"> {% endif %}
                                                        </span>
                                                    </a></td>
                                                    <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_tarea' es.pk %}" data-toggle="tooltip" data-placement="top" title="Numero de la tarea">{{ es.numero }}</a></td>
                                                    <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_tarea' es.pk %}" data-toggle="tooltip" data-placement="top" title="Nombre dado a la tarea">{{ es.nombre }}&nbsp&nbsp
                                                       {% if es.importancia == 'Baja' %}        <span class="fas fa-arrow-circle-down align-middle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Impotancia media"></span> {% endif %}
                                                       {% if es.importancia == 'Intermedia' %}  <span class="fas fa-arrow-circle-up align-middle"   aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Impotancia alta"></span> {% endif %}
                                                       {% if es.importancia == 'Urgente' %}     <span class="fas fa-fire-alt align-middle"          aria-hidden="true" style="color:red" data-toggle="tooltip" data-placement="top" title="Urgente"></span> {% endif %}
                                                       {% if es.importancia == 'Prioritario' %} <span class="fas fa-bell align-middle"              aria-hidden="true" style="color:orange" data-toggle="tooltip" data-placement="top" title="Prioritario"></span> {% endif %}
                                                    </a></td>
                                                    <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_tarea' es.pk %}">{{ es.desc }}</a></td>
                                                    <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_tarea' es.pk %}" data-toggle="tooltip" data-placement="top" title="Fecha de creacion de la tarea">{{ es.fecha_creacion|date:'d-m-Y' }}</a></td>
                                                    <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_tarea' es.pk %}" data-toggle="tooltip" data-placement="top" title="Fecha programada para realizar la tarea">{{ es.fecha_tarea|date:'d-m-Y' }}</a></td>
                                                    <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_tarea' es.pk %}" data-toggle="tooltip" data-placement="top" title="Fecha de plazo para realizar la tarea">{{ es.fecha_plazo|date:'d-m-Y' }}</a></td>
                                                    <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_tarea' es.pk %}" data-toggle="tooltip" data-placement="top" title="Cantidad de invitados">{{ es.i }}</a></td>
                                                    <td><a class="text-truncate text-dark align-middle" href="{% url 'paralegapp:detalle_tarea' es.pk %}" data-toggle="tooltip" data-placement="top" title="Horas trabajadas en la tarea">{{ es.horas }}</a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>

                                  </table>

                                  {% if tareas.count == 0 %}
                                       <h5>Estado aún no tiene tareas progamadas</h5>
                                  {% endif %}
                            </div>
                            <br>
                            <div class="row"><!--  botones de opciones-->
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="justify-content-center flex-column">
                                           <a href="{% url 'paralegapp:detalle_caso' micaso 1%}"> <button type="button" class="btn btn-info">Detalles de la Causa</button></a>
                                        </div>
                              </div>
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="justify-content-center flex-column">
                                            {% if miestado.estado_estado == 'Ingresado' %}
                                                 <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#order5">&nbsp  Tomar Estado  &nbsp</button>
                                                      <div id="order5" class="modal fade" role="dialog">
                                                        <div class="modal-dialog modal-dialog-centered"> <!--esto lo centra en el medio-->
                                                            <div class="modal-content bg-dark text-white border border-info">
                                                                <div class="modal-body justify-content-center">
                                                                    <legend class="border-bottom mb-4"><h5>¿Esta seguro que desea tomar este estado?</h5></legend>
                                                                        <button class="btn btn-outline-info" data-dismiss="modal">Cancelar</button>&nbsp&nbsp&nbsp
                                                                        <a href="{% url 'paralegapp:tomar_actualizacion' miestado.pk %}">
                                                                          <button class="btn btn-outline-success" type="submit"> Tomar Estado </button>
                                                                        </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                      </div>
                                            {% endif %}
                                            {% if miestado.estado_estado == 'En proceso' or miestado.estado_estado == 'sinfinalizar' %}
                                                 <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#order4">&nbsp Finalizar Estado &nbsp</button>
                                                      <div id="order4" class="modal fade" role="dialog">
                                                        <div class="modal-dialog modal-dialog-centered"> <!--esto lo centra en el medio-->
                                                            <div class="modal-content bg-dark text-white border border-info">
                                                                <div class="modal-body justify-content-center">
                                                                    {% if ta_te == tareas.count %}
                                                                        <legend class="border-bottom mb-4"><h5>¿Esta seguro que desea finalizar este estado?</h5></legend>
                                                                            <button class="btn btn-outline-info" data-dismiss="modal">Cancelar</button>&nbsp&nbsp&nbsp
                                                                            <a href="{% url 'paralegapp:finalizar_actualizacion' miestado.pk %}">
                                                                              <button class="btn btn-outline-danger" type="submit">Finalizar</button>
                                                                            </a>
                                                                    {% else %}
                                                                        <legend class="border-bottom mb-4"><h5>No es posible finalizar el estado, aun tiene tareas programadas sin realizar</h5></legend>
                                                                            <button class="btn btn-outline-info" data-dismiss="modal">Cancelar</button>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                      </div>
                                            {% endif %}
                                            {% if miestado.estado_estado == 'Terminado' %}
                                                 <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#order5">&nbsp  Retomar Estado  &nbsp</button>
                                                      <div id="order5" class="modal fade" role="dialog">
                                                        <div class="modal-dialog modal-dialog-centered"> <!--esto lo centra en el medio-->
                                                            <div class="modal-content bg-dark text-white border border-info">
                                                                <div class="modal-body justify-content-center">
                                                                    <legend class="border-bottom mb-4"><h5>¿Esta seguro que desea retomar este estado?</h5></legend>
                                                                        <button class="btn btn-outline-info" data-dismiss="modal">Cancelar</button>&nbsp&nbsp&nbsp
                                                                        <a href="{% url 'paralegapp:tomar_actualizacion' miestado.pk %}">
                                                                          <button class="btn btn-outline-danger" type="submit"> Retomar Estado </button>
                                                                        </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                      </div>
                                            {% endif %}
                                        </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
{% endif %}


{% endblock %}